##===========================================================================
##=============================== Print Start ===============================
##===========================================================================
    # Replace SuperSlicer's custom g-code scripts with
    # _PRINT_START
##===========================================================================
[gcode_macro _PRINT_START]
variable_parameter_FILAMENT_TYPE : "Stock"
gcode:
    {% set BED_TEMPERATURE = params.BED_TEMPERATURE|float %}
    {% set EXTRUDER_TEMPERATURE = params.EXTRUDER_TEMPERATURE|float %}

    _PRINTER_TURN_OFF
    _ELECTRONICS_ON
    _NEVERMORE_ON
    MOTORS_ON

    M140 S{BED_TEMPERATURE}
    M104 S150

    G28

    CENTER
    G4 P1000
    MOTORS_OFF
##---------------------------- Final Temperature ----------------------------
    _TEXT MSG="Pre-heat Temperature" OUTPUT_TARGET=0
    STATUS_HEATING

    M140 S{BED_TEMPERATURE}
    M190 S{BED_TEMPERATURE}

    M104 S{EXTRUDER_TEMPERATURE}
    M109 S{EXTRUDER_TEMPERATURE}
##--------------------------- Homing & Auto-Align ---------------------------
    _TEXT MSG="Homing & Auto-Align" OUTPUT_TARGET=0

    G28
##--------------------------------- Bed Mesh --------------------------------
    _TEXT MSG="Initialize Bed Mesh" OUTPUT_TARGET=0

    BED_MESH_CALIBRATE AREA_START={params.AREA_START|default("0,0")} AREA_END={params.AREA_END|default("0,0")} FORCE_NEW_MESH=True
    DOCK_PROBE
##-------------------------------- Prime Line -------------------------------
    _PRIME_LINE
##-------------------------------- Printing ---------------------------------
    _TEXT MSG="Printing..." OUTPUT_TARGET=0
    _FILAMENT_PROFILE TYPE={params.FILAMENT_TYPE|default("Stock")}
    
    G90
    M83
    G92 E0.0
##=================================== End ===================================

##===========================================================================
##================================ Prime Line ===============================
##===========================================================================
[gcode_macro _PRIME_LINE]
variable_extrude: 9
variable_speed: 20
variable_height: 0.3
variable_x_start: 150
variable_x_stop: 70
variable_y_start: 0
gcode:
    {% set E = printer["gcode_macro _PRIME_LINE"].extrude|float %}
    {% set speed = printer["gcode_macro _PRIME_LINE"].speed|int %}
    {% set Z = printer["gcode_macro _PRIME_LINE"].height|float %}
    {% set x_line = printer["gcode_macro _PRIME_LINE"].x_start|float %}
    {% set x_stop = printer["gcode_macro _PRIME_LINE"].x_stop|float %}
    {% set y_line = printer["gcode_macro _PRIME_LINE"].y_start|float %}
    {% set F = speed * 60 %}

    {% if printer.extruder.can_extrude|lower == 'true' %}
        _TEXT MSG="Prime Line" OUTPUT_TARGET=0
        STATUS_PRINTING

        SET_STEPPER_ENABLE STEPPER=extruder ENABLE=1
        G90
        M83

        G0 X{x_line} Y{y_line} F12000
        G4 P3000
        G0 Z{Z} F180

        G4 P300
        G92 E0.0
        G1 E3 F600

        G1 X{x_stop} E{E} F{F}

        G1 E-1 F3600
        G91
        G0 X0.8
        G0 X-0.8
        G0 Y0.8
        G0 Y-0.8
        G90

    {% else %}
        {action_respond_info("Extruder not hot enough")}
        STATUS_WARNING
        _PRINTER_TURN_OFF
    {% endif %}

    G90
##=================================== End ===================================

##===========================================================================
##================================ Print End ================================
##===========================================================================
    # Replace SuperSlicer's custom g-code scripts with
    # _PRINT_END
##===========================================================================
[gcode_macro _PRINT_END]
variable_extrude: 1.2
gcode:
    {% set E = printer["gcode_macro _PRINT_END"].extrude|float %}

    M83

    G92 E0.0
    G1 E-{E} F3600
    G90

    PARK_TOOLHEAD

    G4 P1000
    _PRINTER_TURN_OFF
    STATUS_STANDBY
    _TEXT MSG="Done" OUTPUT_TARGET=0
    _LIGHTS_ON
#    _EXHAUST_ON
##=================================== End ===================================

##===========================================================================
##=============================== Print Cancel ==============================
##===========================================================================
[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    {% set E = printer["gcode_macro _PRINT_END"].extrude|float %}

    M83

    G92 E0.0
    G1 E-{E} F3600
    G90

    PARK_TOOLHEAD

    G4 P1000
    _PRINTER_TURN_OFF
    STATUS_STANDBY
    _TEXT MSG="Canceled" OUTPUT_TARGET=0
    _LIGHTS_ON
#    _EXHAUST_ON
##=================================== End ===================================