##===========================================================================
##============================ Step Configuration ===========================
##===========================================================================
    # RMS = Current (A) * .707
    # with additional Safety margin = 85%
        # Examples,
        # LDO 42STH48-2504AC = 2.5 A (Peak)
        # run_current = (2.5 * .707) * 85% = 1.5 A
    # Resistor TMC2209 = 0.110
    # Resistor TMC5160 = 0.075
##===========================================================================
##==================================== X ====================================
##===========================================================================
[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: PG6
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 80
homing_retract_dist: 0
#homing_retract_speed: 40
#second_homing_speed: 20
homing_positive_dir: True
##--------------------------------- TMC2209 ---------------------------------
#[tmc2209 stepper_x]
#uart_pin: PC4
#interpolate: false
#run_current: 1.5
#sense_resistor: 0.110
#stealthchop_threshold: 0
##--------------------------------- TMC5160 ---------------------------------
[tmc5160 stepper_x]
cs_pin: PC4
#spi_speed: 1000000
#spi_bus: spi1
spi_software_sclk_pin: PA5
spi_software_miso_pin: PA6
spi_software_mosi_pin: PA7
interpolate: False
run_current: 1.6
sense_resistor: 0.075
stealthchop_threshold: 0
driver_IHOLDDELAY: 6
driver_TPOWERDOWN: 10
driver_TBL: 2
driver_TOFF: 4
driver_HEND: 5
driver_HSTRT: 0
driver_TPFD: 0
driver_PWM_AUTOSCALE: True
driver_PWM_AUTOGRAD: True
driver_PWM_FREQ: 2
driver_PWM_GRAD: 0
driver_PWM_OFS: 0
driver_PWM_REG: 0
driver_PWM_LIM: 0
#diag1_pin: PG6

##===========================================================================
##==================================== Y ====================================
##===========================================================================
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: PG9
position_min: -10
position_endstop: 350
position_max: 350
homing_speed: 80
homing_retract_dist: 0
#homing_retract_speed: 40
#second_homing_speed: 20
homing_positive_dir: True
##--------------------------------- TMC2209 ---------------------------------
#[tmc2209 stepper_y]
#uart_pin: PD11
#interpolate: false
#run_current: 1.5
#sense_resistor: 0.110
#stealthchop_threshold: 0
##--------------------------------- TMC5160 ---------------------------------
[tmc5160 stepper_y]
cs_pin: PD11
#spi_speed: 1000000
#spi_bus: spi1
spi_software_sclk_pin: PA5
spi_software_miso_pin: PA6
spi_software_mosi_pin: PA7
interpolate: False
run_current: 1.6
sense_resistor: 0.075
stealthchop_threshold: 0
driver_IHOLDDELAY: 6
driver_TPOWERDOWN: 10
driver_TBL: 2
driver_TOFF: 4
driver_HEND: 5
driver_HSTRT: 0
driver_TPFD: 0
driver_PWM_AUTOSCALE: True
driver_PWM_AUTOGRAD: True
driver_PWM_FREQ: 2
driver_PWM_GRAD: 0
driver_PWM_OFS: 0
driver_PWM_REG: 0
driver_PWM_LIM: 0
#diag1_pin: PG9

##===========================================================================
##==================================== Z ====================================
##===========================================================================
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: PG10
position_min: -1.0
position_endstop: 2.6
position_max: 280
homing_speed: 20
homing_retract_dist: 2
homing_retract_speed: 5
second_homing_speed: 3
homing_positive_dir: False
##--------------------------------- TMC2209 ---------------------------------
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
##==================================== Z1 ===================================
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200
##--------------------------------- TMC2209 ---------------------------------
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
##==================================== Z2 ===================================
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200
##--------------------------------- TMC2209 ---------------------------------
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
##==================================== Z3 ===================================
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200
##--------------------------------- TMC2209 ---------------------------------
[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##--------------------------------- Commands --------------------------------
##================================ Motors On ================================
[gcode_macro MOTORS_ON]
gcode:
    SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_z1 ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_z2 ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_z3 ENABLE=1

##================================ Motors Off ===============================
[gcode_macro MOTORS_OFF]
gcode:
    M84
##=================================== End ===================================