##===========================================================================
##============================ Fan Configuration ============================
##===========================================================================
##================================ Hotend Fan ===============================
[heater_fan HE0]
pin: canbus:PA0
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.01
hardware_pwm: False
kick_start_time: 0.5
heater: extruder
heater_temp: 50
fan_speed: 1.0

##============================= Part Cooling Fan ============================
[fan]
pin: canbus:PA1
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.01
kick_start_time: 0.5
off_below: 0.1

##================================= Blower =================================
[fan_generic Blower]
pin: PD13
cycle_time: 0.01
kick_start_time: 0.1

##============================= Electronics MCU ============================
[controller_fan E-MCU]
pin: PD14
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.1
off_below: 0.1
idle_timeout: 60
heater: heater_bed
fan_speed: 0.6

##============================= Electronics PSU ============================
[controller_fan E-PSU]
pin: PD15
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.1
off_below: 0.1
idle_timeout: 60
heater: heater_bed
fan_speed: 0.6

##--------------------------------- Commands --------------------------------
##=============================== Blower Slow ===============================
[gcode_macro BLOWER_SLOW]
gcode:
	{% set slow = printer["gcode_macro _BLOWER_VARIABLES"].slow|float %}
	
	SET_FAN_SPEED FAN=Blower SPEED={slow}
##=============================== Blower Fast ===============================
[gcode_macro BLOWER_FAST]
gcode:
	{% set fast = printer["gcode_macro _BLOWER_VARIABLES"].fast|float %}
	
	SET_FAN_SPEED FAN=Blower SPEED={fast}
##================================ Blower Off ===============================
[gcode_macro BLOWER_OFF]
gcode:
	SET_FAN_SPEED FAN=Blower SPEED=0
##===========================================================================
[delayed_gcode blowerloop]
gcode:
	{% set threshold = printer["gcode_macro _BLOWER_VARIABLES"].threshold|int %}
	
	{% if printer.heater_bed.target >= threshold %}
		{% if printer.heater_bed.temperature|int >= (printer.heater_bed.target|int - 1) %}
			BLOWER_FAST

		{% else %}
			UPDATE_DELAYED_GCODE ID=blowerloop DURATION=5
		{% endif %}
	{% endif %}
##=================================== End ===================================

#[temperature_fan Exhaust]
#pin: PD13
#max_power: 0.6
#shutdown_speed: 0.0
#kick_start_time: 0.1
#cycle_time:0.01
#off_below:0.1
#sensor_type: chamber_temp
#sensor_pin: PF5
#min_temp: 0
#max_temp: 100
#target_temp: 70
#control: watermark
#gcode_id: C