##===========================================================================
##========================== Printer Configuration ==========================
##============================== VORON, V2.4r2 ==============================
##===========================================================================
    # This file contains common pin mappings for the BIGTREETECH Octopus Pro
    # V1.0. To use this config, the firmware should be compiled for the
    # STM32F446.

    # See docs/Config_Reference.md for a description of parameters.

    # The "make flash" command does not work on the Octopus V1.1. Instead,
    # after running "make", copy the generated "out/klipper.bin" file to a
    # file named "firmware.bin" on an SD card and then restart the Octopus 
    # Pro V1.0 with SD card.
    ##---------------------------------------------------------------------##
    # sudo apt install make
    # cd ~/klipper
    # make clean
    # make menuconfig
        # [V] Enable extra low-level
        # Micro-controller architecture : STMicroelectronics STM32
        # Processor : STM32F446
        # Bootloader : 32KiB bootloader
        # Clock Reference : 12 MHz crystal
        # Connection : USB (on PA11/PA12)
        # [Q] - Save and Exit
    # make
    # cd ~/klipper
    # cp out/klipper.bin ../klipper_config/
    # rename : firmware.bin
    ##---------------------------------------------------------------------##
    # The configuration is very specific for heavily modified VORON V-2.4r2.
    # Use it as reference.
    
    # RS, 2022 - LDO Motors VORON V2.4r2, BIGTREETECH Octopus Pro V1.0 STM32F446
##===========================================================================

##===========================================================================
##================================== Files ==================================
##===========================================================================
[include variables.cfg]
[include steppers.cfg]
[include input-shaper.cfg]
[include extruders.cfg]
[include firmware-retraction.cfg]
[include heaters.cfg]
[include sensors.cfg]
[include probe.cfg]
[include homing-override.cfg]
[include quad-gantry-level.cfg]
[include bed-mesh.cfg]
[include fans.cfg]
[include lights.cfg]
[include display.cfg]
[include menu.cfg]
[include macros.cfg]
[include miscellaneous.cfg]

[include macros/probe/probe-macros.cfg]
[include macros/probe/probe-dock.cfg]
[include macros/probe/probe-calibrate.cfg]
[include macros/probe/probe-attach.cfg]
[include macros/probe/probe-accuracy.cfg]

[include macros/profiles/print-profiles.cfg]

[include macros/progress/print-start.cfg]
[include macros/progress/print-end.cfg]
[include macros/progress/prime-line.cfg]
[include macros/progress/pause-resume.cfg]

[include macros/tools/wipe-nozzle.cfg]
[include macros/tools/pre-heat.cfg]
[include macros/tools/park-toolhead.cfg]
[include macros/tools/filament-purge.cfg]
[include macros/tools/filament-load-unload.cfg]
[include macros/tools/filament-change.cfg]
[include macros/tools/debug.cfg]
[include macros/tools/clean-nozzle.cfg]
[include macros/tools/center-front.cfg]

[include macros/tuning/test-speed.cfg]
[include macros/tuning/test-accel.cfg]
[include macros/tuning/retraction.cfg]
[include macros/tuning/pressure-advance.cfg]
[include macros/tuning/input-shaping.cfg]

##===========================================================================
##============================ MCU Configuration ============================
##===========================================================================
##----------------- BIGTREETECH Octopus Pro V1.0, STM32F446 -----------------
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_130047000A50534E4E313120-if00
restart_method: command
##----------------------- RaspberryPi 4b, 4GB RAM, UK -----------------------
[mcu rpi]
serial: /tmp/klipper_host_mcu
##-------------------------------- EBB36 CAN --------------------------------
[mcu canbus]
canbus_uuid: 1f4508707061

##===========================================================================
##========================== Printer Configuration ==========================
##===========================================================================
[printer]
kinematics: corexy
max_velocity: 500      # Max 1000
max_accel: 10000        # Max 38000
max_z_velocity: 30
max_z_accel: 700
max_accel_to_decel: 10000
square_corner_velocity: 8.0

##--------------------------------- Commands --------------------------------

##============================== Printer Reset ==============================
[gcode_macro _PRINTER_RESET]
gcode:
    {% set velocity = printer.configfile.settings["printer"].max_velocity|int %}
    {% set accel = printer.configfile.settings["printer"].max_accel|int %}
    {% set accel_to_decel = printer.configfile.settings["printer"].max_accel_to_decel|int %}
    {% set scv = printer.configfile.settings["printer"].square_corner_velocity|float %}


    _TEXT MSG="Printer reset" OUTPUT_TARGET=0

    G90
    G92 E0.0
    M220 S100
    M221 S100

    SET_VELOCITY_LIMIT VELOCITY={velocity}
    SET_VELOCITY_LIMIT ACCEL={accel}
    SET_VELOCITY_LIMIT ACCEL_TO_DECEL={accel_to_decel}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={scv}

    BED_MESH_CLEAR

    SET_GCODE_OFFSET Z=0
##=================================== End ===================================