##===========================================================================
##============================== Print Profile ==============================
##===========================================================================
[gcode_macro _PRINT_PROFILE]
gcode:
##--------------------------------- Default ---------------------------------
    {% if params.TYPE|default("Default") == "Default" %}
        _TEXT MSG="Print Profile : Default" OUTPUT_TARGET=0

        SET_VELOCITY_LIMIT VELOCITY=1000
        SET_VELOCITY_LIMIT ACCEL=10000
        SET_VELOCITY_LIMIT ACCEL_TO_DECEL=10000
        SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=10.0

##--------------------------------- Quality ---------------------------------
    {% elif params.TYPE|default("Default") == "QUALITY" %}
        _TEXT MSG="Print Profile : QUALITY" OUTPUT_TARGET=0

        SET_VELOCITY_LIMIT VELOCITY=1000
        SET_VELOCITY_LIMIT ACCEL=5000
        SET_VELOCITY_LIMIT ACCEL_TO_DECEL=2500
        SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=4.0

##---------------------------------- Casual ---------------------------------
    {% elif params.TYPE|default("Default") == "CASUAL" %}
        _TEXT MSG="Print Profile : CASUAL" OUTPUT_TARGET=0

        SET_VELOCITY_LIMIT VELOCITY=1000
        SET_VELOCITY_LIMIT ACCEL=15000
        SET_VELOCITY_LIMIT ACCEL_TO_DECEL=15000
        SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=8.0

##---------------------------------- Speed ----------------------------------
    {% elif params.TYPE|default("Default") == "SPEED" %}
        _TEXT MSG="Print Profile : SPEED" OUTPUT_TARGET=0

        SET_VELOCITY_LIMIT VELOCITY=1000
        SET_VELOCITY_LIMIT ACCEL=25000
        SET_VELOCITY_LIMIT ACCEL_TO_DECEL=25000
        SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=12.0

##--------------------------------- Extreme ---------------------------------
    {% elif params.TYPE|default("Default") == "EXTREME" %}
        _TEXT MSG="Print Profile : EXTREME" OUTPUT_TARGET=0

        SET_VELOCITY_LIMIT VELOCITY=1000
        SET_VELOCITY_LIMIT ACCEL=50000
        SET_VELOCITY_LIMIT ACCEL_TO_DECEL=50000
        SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=12.0
    {% endif %}
##=================================== End ===================================