##===========================================================================
##================================ Print End ================================
##===========================================================================
	# Replace SuperSlicer's custom g-code scripts with
	# _PRINT_END
##===========================================================================
[gcode_macro _PRINT_END]
gcode:
    {% set center_x = printer["gcode_macro _USER_VARIABLES"].center_x %}
    {% set park_y = printer["gcode_macro _USER_VARIABLES"].park_y %}
    {% set safe_z = printer["gcode_macro _USER_VARIABLES"].safe_z|float %}
    {% set travel_speed = printer["gcode_macro _USER_VARIABLES"].travel_speed * 60 %}
	{% set z_speed = printer["gcode_macro _USER_VARIABLES"].z_speed * 60 %}

    M400
	STATUS_ON

	_WIPE_NOZZLE

	G91
	G0 Z1 F{z_speed}
	G90

    {% if not 'xyz' in printer.toolhead.homed_axes %}
        {action_raise_error("Must home all axes")}

    {% else %}
        {% if printer.toolhead.position.z < safe_z %}
            G0 Z{safe_z} F{z_speed}
        {% endif %}

        PARK_TOOLHEAD
    {% endif %}

	_PRINTER_OFF

	UPDATE_DELAYED_GCODE ID=OFF DURATION=600
    # TIMELAPSE_RENDER

	_STATUS_END
    UPDATE_DELAYED_GCODE ID=SHUTDOWN DURATION=1200
	_TEXT MSG="Done" OUTPUT_TARGET=0

##=============================== Print Cancel ==============================
[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
	{% set center_x = printer["gcode_macro _USER_VARIABLES"].center_x %}
    {% set park_y = printer["gcode_macro _USER_VARIABLES"].park_y %}
    {% set safe_z = printer["gcode_macro _USER_VARIABLES"].safe_z|float %}
    {% set travel_speed = printer["gcode_macro _USER_VARIABLES"].travel_speed * 60 %}
	{% set z_speed = printer["gcode_macro _USER_VARIABLES"].z_speed * 60 %}

	M400
	STATUS_ON

	CANCEL_PRINT_BASE

	_WIPE_NOZZLE

	G91
	G0 Z1 F{z_speed}
	G90

    {% if printer.toolhead.position.z < safe_z %}
        G0 Z{safe_z} F{z_speed}
    {% endif %}

    PARK_TOOLHEAD
	_PRINTER_OFF

    CLEAR_PAUSE
    SDCARD_RESET_FILE

	_STATUS_END
    STANDBY
	_TEXT MSG="Canceled" OUTPUT_TARGET=0
##=================================== End ===================================