##===========================================================================
##========================== Printer Configuration ==========================
##============================== VORON, V2.4r2 ==============================
##===========================================================================
    # This file contains common pin mappings for the BIGTREETECH Octopus Pro
    # V1.0. To use this config, the firmware should be compiled for the
    # STM32F429.

    # See docs/Config_Reference.md for a description of parameters.

    # The "make flash" command does not work on the Octopus V1.1. Instead,
    # after running "make", copy the generated "out/klipper.bin" file to a
    # file named "firmware.bin" on an SD card and then restart the Octopus 
    # Pro V1.0 with SD card.
    ##---------------------------------------------------------------------##
    # sudo apt install make
    # cd ~/klipper
    # make clean
    # make menuconfig
        # [V] Enable extra low-level
        # Micro-controller architecture : STMicroelectronics STM32
        # Processor : STM32F429
        # Bootloader : 32KiB bootloader
        # Clock Reference : 8 MHz crystal
        # Connection : USB (on PA11/PA12)
        # [Q] - Save and Exit
    # make
    # cd ~/klipper
    # cp out/klipper.bin ../klipper_config/
    # rename : firmware.bin
    ##---------------------------------------------------------------------##
    # The configuration is very specific for heavily modified VORON V-2.4r2.
    # Use it as reference.
    
    # RS, 2022 - PSM-02_V2.4-350, BIGTREETECH Octopus Pro V1.0 STM32F429

# Solving mcu 'mcu': Unable to connect
# apt show udev
# cd ~;wget http://ftp.us.debian.org/debian/pool/main/s/systemd/libudev1_252.5-2~bpo11+1_`dpkg --print-architecture`.deb http://ftp.us.debian.org/debian/pool/main/s/systemd/udev_252.5-2~bpo11+1_`dpkg --print-architecture`.deb;APT_LISTCHANGES_FRONTEND=none sudo apt install --fix-broken ./libudev1_252.5-2~bpo11+1_`dpkg --print-architecture`.deb ./udev_252.5-2~bpo11+1_`dpkg --print-architecture`.deb; rm libudev1_252.5-2~bpo11+1_`dpkg --print-architecture`.deb udev_252.5-2~bpo11+1_`dpkg --print-architecture`.deb
##===========================================================================

##===========================================================================
##================================== Files ==================================
##===========================================================================
[include variables.cfg]
[include steppers.cfg]
# [include resonance-tester.cfg]
[include extruders.cfg]
# [include firmware-retraction.cfg]
[include heaters.cfg]
[include sensors.cfg]
[include beacon.cfg]
[include homing-override.cfg]
[include quad-gantry-level.cfg]
[include bed-mesh.cfg]
[include fans.cfg]
[include lights.cfg]
[include display.cfg]
[include menu.cfg]
[include macros.cfg]
[include miscellaneous.cfg]
[include timelapse.cfg]

[include macros/profiles/print-profiles.cfg]

[include macros/progress/print-start.cfg]
[include macros/progress/print-end.cfg]
[include macros/progress/prime-line.cfg]
[include macros/progress/pause-resume.cfg]

[include macros/tools/wipe-nozzle.cfg]
[include macros/tools/park-toolhead.cfg]
[include macros/tools/filament-purge.cfg]
[include macros/tools/filament-load-unload.cfg]
[include macros/tools/filament-change.cfg]
[include macros/tools/debug.cfg]
[include macros/tools/clean-nozzle.cfg]
[include macros/tools/center-front.cfg]
[include macros/tools/belt_tension.cfg]

[include macros/tuning/test-speed.cfg]
[include macros/tuning/test-accel.cfg]

##===========================================================================
##============================ MCU Configuration ============================
##===========================================================================
# ls /dev/serial/by-id/*
##----------------- BIGTREETECH Octopus Pro V1.0, STM32F429 -----------------
[mcu]
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.1:1.0
restart_method: command
##----------------------- RaspberryPi 4b, 4GB RAM, UK -----------------------
# [mcu rpi]
# serial: /tmp/klipper_host_mcu

##===========================================================================
##========================== Printer Configuration ==========================
##===========================================================================
[printer]
kinematics: corexy
max_velocity: 800
max_accel: 10000
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 10.0

[input_shaper]
shaper_freq_x: 42.23
shaper_type_x: mzv
shaper_freq_y: 49.1
shaper_type_y: mzv
##--------------------------------- Commands --------------------------------
[gcode_macro _PRINTER_RESET]
gcode:
    {% set velocity = printer.configfile.settings["printer"].max_velocity|int %}
    {% set accel = printer.configfile.settings["printer"].max_accel|int %}
    {% set accel_to_decel = printer.configfile.settings["printer"].max_accel_to_decel|int %}
    {% set scv = printer.configfile.settings["printer"].square_corner_velocity|float %}


    _TEXT MSG="Printer reset" OUTPUT_TARGET=0

    G90
    G92 E0.0
    M220 S100
    M221 S100

    SET_VELOCITY_LIMIT VELOCITY={velocity}
    SET_VELOCITY_LIMIT ACCEL={accel}
    SET_VELOCITY_LIMIT ACCEL_TO_DECEL={accel_to_decel}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={scv}

    BED_MESH_CLEAR

    SET_GCODE_OFFSET Z=0
    M107
    _TEXT MSG="PSM-02_V2.4-350" OUTPUT_TARGET=2
##=================================== End ===================================

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.5650091782202962,
#*# 	  1.8843900204700195,
#*# 	  0.7394324006009677,
#*# 	  0.32774331245970784,
#*# 	  0.2847407706385887,
#*# 	  0.2734254652516401,
#*# 	  -0.1247589946182502,
#*# 	  -0.21501924456192734,
#*# 	  0.13719228116533688,
#*# 	  0.13279507112172745
#*# model_domain = 3.268103113473696e-07,3.360567893046309e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 67.656389
#*# model_offset = 0.04000
