##===========================================================================
##=============================== Start Print ===============================
##===========================================================================
  # Replace the slicer's custom start and end g-code scripts with
  # START_PRINT
##===========================================================================
[gcode_macro START_PRINT]
variable_parameter_FILAMENT_TYPE : "PLA"
gcode:
  {% set BED_TEMPERATURE = params.BED_TEMPERATURE %}
  {% set EXTRUDER_TEMPERATURE = params.EXTRUDER_TEMPERATURE %}
  # Initialize
  BEEP
  PRINT MSG="Initializing" OUTPUT_TARGET=0
  CLEAR_PAUSE
  # Turn-off fan
  M107
  # Set filament profile
  SET_FILAMENT_PROFILE TYPE={params.FILAMENT_TYPE|default("PLA")}
  # Units to milimeters
  G21
  # Use absolute coordinates
  G90
  # Use relative extrusion distances
  M83
##--------------------------------- Pre-heat --------------------------------
  PRINT MSG="Start Pre-heat Temp." OUTPUT_TARGET=1
  # Start heating "EXTRUDER" "BED" pre-heat temperature
  M104 S190
  M140 S50
##------------------------ Pre-heat Temperature Check -----------------------
##----------------------------- Bed Temperature -----------------------------
  PRINT MSG="Pre-heat Temp. Check" OUTPUT_TARGET=1
  {% if printer.heater_bed.temperature < 50 %}
    {% if printer.extruder.temperature < 190 %}
      # Start Pre-heating to 190/50
      PRINT MSG="Pre-heat 190/50" OUTPUT_TARGET=1
      # Start heating "EXTRUDER" "BED" pre-heat temperature
      M104 S190
      M140 S50
      # Wait "EXTRUDER" "BED" pre-heat temperature
      M109 S190
      M190 S50
    {% else %}
      # Start Pre-heating to n/50
      PRINT MSG="Pre-heat n/50" OUTPUT_TARGET=1
      # Start heating "EXTRUDER" "BED" pre-heat temperature
      M104 S190
      M140 S50
      # Wait "BED" pre-heat temperature
      M190 S50
    {% endif %}
  {% endif %}
##--------------------------------- Extruder --------------------------------
  {% if printer.extruder.temperature < 190 %}
    PRINT MSG="Pre-heat 190/n" OUTPUT_TARGET=1
    # Wait "EXTRUDER" "BED" pre-heat temperature
    M109 S190
  {% endif %}
##------------------------ Heating Final Temperature ------------------------
  PRINT MSG="Heating Bed Temp." OUTPUT_TARGET=1
  # Start heating "BED" final temperature
  M140 S{BED_TEMPERATURE}
##--------------------------- Homing & Auto-Align ---------------------------
  BEEP
  PRINT MSG="Homing & Auto-Align" OUTPUT_TARGET=0
  # Home all axes
  G28
  # Z axis auto-align
  Z_TILT_ADJUST
  # Home Z
  G28 Z
##---------------------- Heating Bed Final Temperature ----------------------
  PRINT MSG="Heating Bed Temp." OUTPUT_TARGET=1
  # Start heating "BED" final temperature
  M140 S{BED_TEMPERATURE}
  # Wait "BED" final temperature
  M190 S{BED_TEMPERATURE}
##----------------------------------- ABL -----------------------------------
  BEEP
  PRINT MSG="Initialize Bed Mesh" OUTPUT_TARGET=0
  # Home Z
  G28 Z
  # Area print mesh calibrate
  BED_MESH_CALIBRATE PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX} FORCE_NEW_MESH=True
  G1 X0 Y-3 F8000
##---------------------------- Final Temperature ----------------------------
  PRINT MSG="Wait Final Temp." OUTPUT_TARGET=0
  # Start heating "EXTRUDER" "BED" final temperature
  M104 S{EXTRUDER_TEMPERATURE}
  M140 S{BED_TEMPERATURE}
  # Wait "EXTRUDER" "BED" final temperature
  M109 S{EXTRUDER_TEMPERATURE}
  M190 S{BED_TEMPERATURE}
##------------------------------- Prime Line -------------------------------
  PRIME_LINE
##-------------------------------- Printing ---------------------------------
  PRINT MSG="Printing" OUTPUT_TARGET=0
  # Use absolute coordinates
  G90
  # Use relative distance for extrusion
  M83
  # Reset extrusion distance
  G92 E0.0
##=================================== End ===================================

##===========================================================================
##================================ Prime Line ===============================
##===========================================================================
[gcode_macro PRIME_LINE]
gcode:
  BEEP
  PRINT MSG="Prime Line" OUTPUT_TARGET=0
  # Use absolute coordinates
  G90
  # Use relative distance for extrusion
  M83
  # Reset extrusion distance
  G92 E0.0
  # Move to start Line 1
  G1 X0 Y-3 F3000
  # Purge
  G1 E1 F1000
  G1 Z0.3 F120
  # Line 1
  G1 X60.0 F1000 E6
  # Line 2
  G1 X110 F1000 E8
##------------------------------- Wipe Action -------------------------------
  # Use relative coordinates
  G91
  # Wipe
  G1 X-0.5 Y-0.5 F12000
  G1 X0.5 Y0.5 F720
  # Use absolute coordinates
  G90
  # Reset extrusion distance
  G92 E0
  # Wait 1s
  G4 P1000
##=================================== End ===================================

##===========================================================================
##================================ End Print ================================
##===========================================================================
  # Replace the slicer's custom start and end g-code scripts with
  # END_PRINT
##===========================================================================
[gcode_macro END_PRINT]
gcode:
  BEEP
  PRINT MSG="Completed" OUTPUT_TARGET=0
  # Reset machine limit
  SET_VELOCITY_LIMIT VELOCITY=200
  SET_VELOCITY_LIMIT ACCEL=4000
  SET_VELOCITY_LIMIT ACCEL_TO_DECEL=2000
  SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=5
  # Use relative positioning
  G91
  # Retract & wipe
  G1 E-0.8 F1800
  G1 X-0.5 Y-0.5 F1800
  G1 X0.5 Y0.5 F1800
  # Turn off fan & temperatures
  TURN_OFF_HEATERS
  M106 S0
  # Use absolute positioning
  G90
  # Set maximum & actual axes
  {% set max_x = printer.toolhead.axis_maximum.x|float %}
  {% set max_y = printer.toolhead.axis_maximum.y|float %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% set end_print_x = max_x %}
  {% set end_print_y = max_y * 0.9 %}
  {% set end_print_z = act_z + 2 %}
  {% set end_print_z1 = act_z + 70 %}
  {% set end_print_z2 = max_z * 0.6 %}
  # Move Z axis
  {% if act_z < max_z %}
    G1 Z{end_print_z} F720
  {% else %}
    G1 Z{act_z} F720
  {% endif %}
  # Present print
  G1 X{end_print_x} F12000
  G1 Y{end_print_y} F1200
  # Move further Z axis
  #{% if act_z < (max_z - 10) %}
  #  G1 Z{end_print_z1} F420
  #{% else %}
  #  G1 Z{act_z} F420
  #{% endif %}
  # Move further Z axis
  #{% if act_z < (max_z * 0.6) %}
  #  G1 Z{end_print_z2} F420
  #{% endif %}
  # Clear Mesh
  BED_MESH_CLEAR
  # Reset extrusion rate
  M221 S100
  # Reset feed rate
  M220 S100
  # Disable motors
  M84
  # Nozzle Cooling Logic
  {% if printer.extruder.temperature > 40 %}
    # Fan On
    M106 S255
    # Set Extruder 0C
    M104 S0
    # Wait Extruder Below 40C
    M109 S39
    # Fan Off
    M106 S0
    # Turn Off Heaters
    TURN_OFF_HEATERS
  {% endif %}
##=================================== End ===================================

##===========================================================================
##=============================== Cancel Print ==============================
##===========================================================================
  # Replace the slicer's custom start and end g-code scripts with
  # CANCEL_PRINT
##===========================================================================
[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  BEEP
  PRINT MSG="Canceled" OUTPUT_TARGET=0
  # Reset machine limit
  SET_VELOCITY_LIMIT VELOCITY=200
  SET_VELOCITY_LIMIT ACCEL=4000
  SET_VELOCITY_LIMIT ACCEL_TO_DECEL=2000
  SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=5
  # Use relative positioning
  G91
  # Retract & wipe
  G1 E-0.8 F1800
  G1 X-0.5 Y-0.5 F1800
  G1 X0.5 Y0.5 F1800
  # Turn off fan & temperatures
  TURN_OFF_HEATERS
  M106 S0
  # Use absolute positioning
  G90
  # Set maximum & actual axes
  {% set max_x = printer.toolhead.axis_maximum.x|float %}
  {% set max_y = printer.toolhead.axis_maximum.y|float %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% set end_print_x = max_x %}
  {% set end_print_y = max_y * 0.9 %}
  {% set end_print_z = act_z + 2 %}
  {% set end_print_z1 = act_z + 70 %}
  {% set end_print_z2 = max_z * 0.6 %}
  # Move Z axis
  {% if act_z < max_z %}
    G1 Z{end_print_z} F720
  {% else %}
    G1 Z{act_z} F720
  {% endif %}
  # Present print
  G1 X{end_print_x} F12000
  G1 Y{end_print_y} F1200
  # Move further Z axis
  #{% if act_z < (max_z - 10) %}
  #  G1 Z{end_print_z1} F420
  #{% else %}
  #  G1 Z{act_z} F420
  #{% endif %}
  # Move further Z axis
  #{% if act_z < (max_z * 0.6) %}
  #  G1 Z{end_print_z2} F420
  #{% endif %}
  # Clear Mesh
  BED_MESH_CLEAR
  # Reset extrusion rate
  M221 S100
  # Reset feed rate
  M220 S100
  # Disable motors
  M84
  # Nozzle Cooling Logic
  {% if printer.extruder.temperature > 40 %}
    # Fan On
    M106 S255
    # Set Extruder 0C
    M104 S0
    # Wait Extruder Below 40C
    M109 S39
    # Fan Off
    M106 S0
    # Turn Off Heaters
    TURN_OFF_HEATERS
  {% endif %}
##=================================== End ===================================