##===========================================================================
##============================= Probe Calibrate =============================
##===========================================================================
[gcode_macro PROBE_CALIBRATE]
rename_existing: _PROBE_CALIBRATE
gcode:
    {% set safe_z = printer["gcode_macro _USER_VARIABLES"].safe_z|float %}
    {% set travel_speed = printer["gcode_macro _USER_VARIABLES"].travel_speed * 60 %}
    {% set z_speed = printer["gcode_macro _USER_VARIABLES"].z_speed * 60 %}


    _STATUS_CALIBRATE
    
    G90

    {% if printer.toolhead.position.z < safe_z %}
        G0 Z{safe_z} F{z_speed}
    {% endif %}

    CENTER

    _ENTRY_POINT function=probe_calibrate

    {% if not 'xyz' in printer.toolhead.homed_axes %}
        {action_raise_error("Must home all axes")}
    
    {% else %}
        {% if printer.toolhead.position.z < safe_z %}
            G0 Z{safe_z} F{z_speed}
        {% endif %}
    {% endif %}

    ATTACH_PROBE

    _EXIT_POINT function=probe_calibrate move=1 move_speed={travel_speed}
    
    _PROBE_CALIBRATE    {% for p in params
                        %}{'%s=%s ' % (p, params[p])}{%
                        endfor %}

    TESTZ Z={safe_z}

    DOCK_PROBE
    
    _EXIT_POINT function=probe_calibrate move=1 move_speed={travel_speed}
##=================================== End ===================================