##===========================================================================
##================================== Beacon =================================
##===========================================================================
    # Add the basic beacon configuration,
        # ls /dev/serial/by-id/
##===========================================================================
[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_558C385E515137474C202020FF0C1722-if00
x_offset: -3
y_offset: -28
mesh_main_direction: x
mesh_runs: 2

[gcode_macro BEACON_MODEL]
variable_parameter_BEACON_MODEL : "Default"
gcode:
    {% if params.BEACON_MODEL|default("Default") == "Default" %}
        BEACON_MODEL_SELECT NAME=Satin
    {% elif params.BEACON_MODEL|default("Default") == "Textured" %}
        BEACON_MODEL_SELECT NAME=Textured
    {% elif params.BEACON_MODEL|default("Default") == "Satin" %}
        BEACON_MODEL_SELECT NAME=Satin
    {% elif params.BEACON_MODEL|default("Default") == "Garolyte" %}
        BEACON_MODEL_SELECT NAME=Garolyte
    {% endif %}
##=================================== End ===================================