##===========================================================================
##================================ Print End ================================
##===========================================================================
	# Replace SuperSlicer's custom g-code scripts with
	# _PRINT_END
##===========================================================================
[gcode_macro _PRINT_END]
gcode:
    {% set center_x = printer["gcode_macro _USER_VARIABLES"].center_x %}
    {% set park_y = printer["gcode_macro _USER_VARIABLES"].park_y %}
    {% set safe_z = printer["gcode_macro _USER_VARIABLES"].safe_z|float %}
    {% set travel_speed = printer["gcode_macro _USER_VARIABLES"].travel_speed * 60 %}
	{% set z_speed = printer["gcode_macro _USER_VARIABLES"].z_speed * 60 %}


	STATUS_ON

	_WIPE_NOZZLE

	G91
	G0 Z0.4 F{z_speed}
	G90

    {% if not 'xyz' in printer.toolhead.homed_axes %}
        {action_raise_error("Must home all axes")}

    {% else %}
        {% if printer.toolhead.position.z < safe_z %}
            G0 Z{safe_z} F{z_speed}
        {% endif %}

        G0 X{center_x} Y{park_y} F{travel_speed}
    {% endif %}

	_PRINTER_TURN_OFF

	SET_FAN_SPEED FAN=Exhaust SPEED=1.0
	SET_FAN_SPEED FAN=Blower SPEED=1.0
    M106 S205

	UPDATE_DELAYED_GCODE ID=OFF DURATION=600
    TIMELAPSE_RENDER

	_TEXT MSG="Done" OUTPUT_TARGET=0
	_STATUS_END

##=============================== Print Cancel ==============================
[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
	{% set center_x = printer["gcode_macro _USER_VARIABLES"].center_x %}
    {% set park_y = printer["gcode_macro _USER_VARIABLES"].park_y %}
    {% set safe_z = printer["gcode_macro _USER_VARIABLES"].safe_z|float %}
    {% set travel_speed = printer["gcode_macro _USER_VARIABLES"].travel_speed * 60 %}
	{% set z_speed = printer["gcode_macro _USER_VARIABLES"].z_speed * 60 %}


	M400
	STATUS_ON

	CANCEL_PRINT_BASE

	_WIPE_NOZZLE

	G91
	G0 Z0.4 F{z_speed}
	G90

    {% if not 'xyz' in printer.toolhead.homed_axes %}
        {action_raise_error("Must home all axes")}

    {% else %}
        {% if printer.toolhead.position.z < safe_z %}
            G0 Z{safe_z} F{z_speed}
        {% endif %}

        G0 X{center_x} Y{park_y} F{travel_speed}
    {% endif %}

    CLEAR_PAUSE
    SDCARD_RESET_FILE

	_PRINTER_TURN_OFF

	_TEXT MSG="Canceled" OUTPUT_TARGET=0
	_STATUS_END
##=================================== End ===================================