##===========================================================================
##============================== Probe Accuracy =============================
##===========================================================================
    #PROBE_ACCURACY SAMPLES=10 SAMPLE_RETRACT_DIST=2 PROBE_SPEED=5 LIFT_SPEED=20
##===========================================================================
[gcode_macro PROBE_ACCURACY]
rename_existing: _PROBE_ACCURACY
gcode:
    {% set safe_z = printer["gcode_macro _USER_VARIABLES"].safe_z|float %}
    {% set z_speed = printer["gcode_macro _USER_VARIABLES"].z_speed * 60 %}

    _STATUS_CALIBRATE
    G90

    {% if not 'xyz' in printer.toolhead.homed_axes %}
        {action_raise_error("Must home all axes")}
    
    {% else %}
        {% if printer.toolhead.position.z < safe_z %}
            G0 Z{safe_z} F{z_speed}
        {% endif %}
    {% endif %}

    ATTACH_PROBE

    _PROBE_ACCURACY {% for p in params
                    %}{'%s=%s ' % (p, params[p])}{%
                    endfor %}

    _STATUS_READY
##=================================== End ===================================