##===========================================================================
##============================== Vz-Hextrudort ==============================
##===========================================================================
    # Rotation Distance = 22
    # Gear Ratio = 50:10 (10T), 50:8 (8T)
    # Microsteps = 16

    # Pressure Advance = 0.02
    # Smooth Time = 0.03

    # RMS = Current (A) * .707
        # MOONS CSE14HRA1L410A-02 = 1.0 A
        # run_current = (1.0 * .707) = 0.7 A
    # Resistor TMC2209 = 0.110
    # Resistor TMC5160 = 0.075

    # Retraction distance: 0.2mm
    # Retraction speed: 40mm/s - do not exceed this speed

    # PID_CALIBRATE HEATER=extruder TARGET=250
##===========================================================================
[extruder]
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0
microsteps: 16
rotation_distance: 22
gear_ratio: 50:8
full_steps_per_rotation: 200
nozzle_diameter: 0.4
filament_diameter: 1.750
max_extrude_cross_section: 500
max_extrude_only_distance: 1000.0
max_extrude_only_velocity: 80.0
max_extrude_only_accel: 10000
pressure_advance: 0.02
pressure_advance_smooth_time: 0.03
##------------------------------ PT1000 -----------------------------
heater_pin: PA1
max_power: 0.8
sensor_type: PT1000
sensor_pin: PF4
control: pid
pid_Kp: 19.666
pid_Ki: 1.483
pid_Kd: 65.139
min_extrude_temp: 180
min_temp: 0
max_temp: 400
##------------------------------ ATC Semitec 104NT-4-R025H42G -----------------------------
# heater_pin: PA1
# max_power: 0.8
# sensor_type: ATC Semitec 104NT-4-R025H42G
# sensor_pin: PF4
# control: pid
# pid_Kp: 24.750
# pid_Ki: 2.063
# pid_Kd: 74.251
# min_extrude_temp: 150
# min_temp: 0
# max_temp: 400
##------------------------------ Heater Dev -----------------------------
# heater_pin: PA2
# max_power: 0.85
# sensor_type: PT1000
# sensor_pin: PF4
# control: pid
# pid_Kp: 19.666
# pid_Ki: 1.483
# pid_Kd: 65.139
# min_extrude_temp: -273.15
# min_temp: -273.15
# max_temp: 99999999
##--------------------------------- TMC2209 ---------------------------------
[tmc2209 extruder]
uart_pin: PD3
interpolate: False
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
##=================================== End ===================================