##===========================================================================
##========================== Printer Configuration ==========================
##============================== VORON, V2.4r2 ==============================
##===========================================================================
    # This file contains common pin mappings for the BIGTREETECH Octopus Pro
    # V1.0. To use this config, the firmware should be compiled for the
    # STM32F446.

    # See docs/Config_Reference.md for a description of parameters.

    # The "make flash" command does not work on the Octopus V1.1. Instead,
    # after running "make", copy the generated "out/klipper.bin" file to a
    # file named "firmware.bin" on an SD card and then restart the Octopus 
    # Pro V1.0 with SD card.

    ##---------------------------------------------------------------------##
    # sudo apt install make
    # cd ~/klipper
    # make clean
    # make menuconfig
        # [V] Enable extra low-level
        # Micro-controller architecture : STMicroelectronics STM32
        # Processor : STM32F446
        # Bootloader : 32KiB bootloader
        # Clock Reference : 12 MHz crystal
        # Connection : USB (on PA11/PA12)
        # [Q] - Save and Exit
    # make
    # cd ~/klipper
    # cp out/klipper.bin ../klipper_config/
    # rename : firmware.bin
    ##---------------------------------------------------------------------##

    ##---------------------------------------------------------------------##
    # Solving mcu 'mcu': Unable to connect
    # apt show udev
    # cd ~;wget http://ftp.us.debian.org/debian/pool/main/s/systemd/libudev1_252.5-2~bpo11+1_`dpkg --print-architecture`.deb http://ftp.us.debian.org/debian/pool/main/s/systemd/udev_252.5-2~bpo11+1_`dpkg --print-architecture`.deb;APT_LISTCHANGES_FRONTEND=none sudo apt install --fix-broken ./libudev1_252.5-2~bpo11+1_`dpkg --print-architecture`.deb ./udev_252.5-2~bpo11+1_`dpkg --print-architecture`.deb; rm libudev1_252.5-2~bpo11+1_`dpkg --print-architecture`.deb udev_252.5-2~bpo11+1_`dpkg --print-architecture`.deb
    ##---------------------------------------------------------------------##

    # All configurations are very specific for heavily modified VORON V-2.4r2.
    # Only use as a reference.
    
    # RS, 2020 - LDO Motors VORON V2.4r2, BIGTREETECH Octopus Pro V1.0 STM32F446
##===========================================================================

##===========================================================================
##================================== Files ==================================
##===========================================================================
[include beacon.cfg]
[include bed-mesh.cfg]
[include display.cfg]
[include extruders.cfg]
[include fans.cfg]
# [include firmware-retraction.cfg] (Deprecated)
[include heaters.cfg]
[include homing-override.cfg]
[include lights.cfg]
[include macros.cfg]
[include menu.cfg]
[include miscellaneous.cfg]
[include quad-gantry-level.cfg]
# [include resonance-tester.cfg]
[include sensors.cfg]
[include steppers.cfg]
[include timelapse.cfg]
[include variables.cfg]
#----------------------------------------------------------------------------
[include macros/profiles/print-profiles.cfg]
#----------------------------------------------------------------------------
[include macros/progress/print-start.cfg]
[include macros/progress/print-end.cfg]
[include macros/progress/prime-line.cfg]
[include macros/progress/pause-resume.cfg]
#----------------------------------------------------------------------------
[include macros/tools/wipe-nozzle.cfg]
[include macros/tools/park-toolhead.cfg]
[include macros/tools/filament-purge.cfg]
[include macros/tools/filament-load-unload.cfg]
[include macros/tools/filament-change.cfg]
[include macros/tools/debug.cfg]
[include macros/tools/clean-nozzle.cfg]
[include macros/tools/center-front.cfg]
# [include macros/tools/belt_tension.cfg] (Deprecated)
#----------------------------------------------------------------------------
[include macros/tuning/test-speed.cfg]
[include macros/tuning/test-accel.cfg]

##===========================================================================
##============================ MCU Configuration ============================
##===========================================================================
# ls /dev/serial/by-id/*                            ls /dev/serial/by-path/*
##----------------- BIGTREETECH Octopus Pro V1.0, STM32F446 -----------------
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_130047000A50534E4E313120-if00
restart_method: command

##===========================================================================
##========================== Printer Configuration ==========================
##===========================================================================
[printer]
kinematics: corexy
max_velocity: 300
max_accel: 5000
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5.0

[input_shaper]
shaper_freq_x: 42.4
shaper_type_x: mzv
shaper_freq_y: 42.01
shaper_type_y: mzv
damping_ratio_x: 0.1
damping_ratio_y: 0.1
##--------------------------------- Commands --------------------------------
[gcode_macro _PRINTER_RESET]
gcode:
    {% set velocity = printer.configfile.settings["printer"].max_velocity|int %}
    {% set accel = printer.configfile.settings["printer"].max_accel|int %}
    {% set accel_to_decel = printer.configfile.settings["printer"].max_accel_to_decel|int %}
    {% set scv = printer.configfile.settings["printer"].square_corner_velocity|float %}


    _TEXT MSG="Printer reset" OUTPUT_TARGET=0

    G90
    G92 E0.0
    M220 S100
    M221 S100

    SET_VELOCITY_LIMIT VELOCITY={velocity}
    SET_VELOCITY_LIMIT ACCEL={accel}
    SET_VELOCITY_LIMIT ACCEL_TO_DECEL={accel_to_decel}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={scv}

    BED_MESH_CLEAR

    SET_GCODE_OFFSET Z=0
    M107
##=================================== End ===================================

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.041305590123858,
#*# 	0.7819502459959407,
#*# 	0.10763259872553557,
#*# 	-0.13880947556536968,
#*# 	0.16391055885744057,
#*# 	0.6985313133871273,
#*# 	-0.3260044107489606,
#*# 	-1.0514216007925787,
#*# 	0.2141408887017445,
#*# 	0.5116395397713884
#*# model_domain = 3.2501889377787037e-07,3.298986239033036e-07
#*# model_range = 0.400000,2.000000
#*# model_temp = 59.493048
#*# model_offset = 0.00000
#*#
#*# [beacon model ColdTemp]
#*# model_coef = 1.0379339056239645,
#*# 	0.7785303088556018,
#*# 	0.10293877416251164,
#*# 	-0.10133390695990706,
#*# 	0.2100918847889349,
#*# 	0.5907140508749887,
#*# 	-0.420448555720156,
#*# 	-0.931912330311111,
#*# 	0.27019045818710374,
#*# 	0.4655566529875523
#*# model_domain = 3.2469800241087085e-07,3.2963705495937274e-07
#*# model_range = 0.400000,2.000000
#*# model_temp = 35.161547
#*# model_offset = 0.00000
#*#
#*# [beacon model LowTemp]
#*# model_coef = 1.0404931043901582,
#*# 	0.7789689220357849,
#*# 	0.10161155650478194,
#*# 	-0.09728864614935412,
#*# 	0.20095298091388394,
#*# 	0.5637402864427798,
#*# 	-0.38845842532110164,
#*# 	-0.8868635946374287,
#*# 	0.24653006501067887,
#*# 	0.44334810072069486
#*# model_domain = 3.248549421204117e-07,3.2975870937226027e-07
#*# model_range = 0.400000,2.000000
#*# model_temp = 44.780815
#*# model_offset = 0.00000
#*#
#*# [beacon model MidTemp]
#*# model_coef = 1.0399199291046715,
#*# 	0.7812408481600418,
#*# 	0.1064101280828466,
#*# 	-0.12588385858637516,
#*# 	0.19182317343999347,
#*# 	0.6614322228586899,
#*# 	-0.39056480301201985,
#*# 	-1.0045266212152582,
#*# 	0.2530550017109418,
#*# 	0.48955060336574024
#*# model_domain = 3.24908793659691e-07,3.2980754273628746e-07
#*# model_range = 0.400000,2.000000
#*# model_temp = 50.679716
#*# model_offset = 0.00000
#*#
#*# [beacon model HighTemp]
#*# model_coef = 1.041305590123858,
#*# 	  0.7819502459959407,
#*# 	  0.10763259872553557,
#*# 	  -0.13880947556536968,
#*# 	  0.16391055885744057,
#*# 	  0.6985313133871273,
#*# 	  -0.3260044107489606,
#*# 	  -1.0514216007925787,
#*# 	  0.2141408887017445,
#*# 	  0.5116395397713884
#*# model_domain = 3.2501889377787037e-07,3.298986239033036e-07
#*# model_range = 0.400000,2.000000
#*# model_temp = 59.493048
#*# model_offset = 0.00000
