##===========================================================================
##============================= Getting Started =============================
##========================== Creality, Ender-3 Pro ==========================
##===========================================================================
    # This file contains common pin mappings for the BIGTREETECH SKR E3
    # Turbo. To use this config, the firmware should be compiled for the
    # LPC1769.

    # See docs/Config_Reference.md for a description of parameters.

    # The "make flash" command does not work on the SKR E3 Turbo. Instead,
    # after running "make", copy the generated "out/klipper.bin" file to a
    # file named "firmware.bin" on an SD card and then restart the SKR E3 
    # Turbo with that SD card.

    # The configuration is very specific for a heavily modified Ender-3 Pro.
    # Use it as reference to set up your printer.

    # 2021 - Creality Ender-3 Pro, BIGTREETECH SKR E3 Turbo, E3D Hemera-BMS
##=================================== End ===================================

##===========================================================================
##============================== Include Files ==============================
##===========================================================================
## Display Section
[include display.cfg]
## Menu Section
#[include menu.cfg]
## Start Print
[include start_print.cfg]
## Self Leveling Area Section
[include bed_mesh.cfg]
## Macro & Other Commands Section
[include macro.cfg]
#[include resonance_compensation.cfg]
##=================================== End ===================================

##===========================================================================
##============================ MCU Configuration ============================
##===========================================================================
## SKR E3 Turbo, LPC1769
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_15A0000CA99869AFA21A425EC52000F5-if00
baud: 250000
#canbus_uuid:
#canbus_interface:
restart_method: command
##------------------------------------
#[mcu my_extra_mcu]
##=================================== End ===================================

##===========================================================================
##================================ Force Move ===============================
##===========================================================================
[force_move]
enable_force_move: true
##=================================== End ===================================

##===========================================================================
##========================== Machine Configuration ==========================
##===========================================================================
## Ender-3 Pro
[printer]
kinematics: cartesian
max_velocity: 200   ; 500 spreadcycle
max_accel: 3000
max_z_velocity: 20
max_z_accel: 200
max_accel_to_decel: 2400
square_corner_velocity: 8
##=================================== End ===================================

##===========================================================================
##============================ Step Configuration ===========================
##===========================================================================
# Standby Pins SKR-E3-Turbo
[static_digital_output tmc_standby_pins]
pins: !P3.26, !P3.25, !P1.18, !P1.19, !P2.13
##=================================== End ===================================

## X Axis
[stepper_x]
step_pin: P1.4
dir_pin: !P1.8
enable_pin: !P1.0
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
#gear_ratio:
#step_pulse_duration:
endstop_pin: tmc2209_stepper_x:virtual_endstop  ; ^P1.29
position_min: -21.5
position_endstop: -21.5
position_max: 236.3 ; 257.8 + position_min
homing_speed: 40    ; 20
homing_retract_dist: 0
#homing_retract_speed:
#second_homing_speed:20
#homing_positive_dir:
##------------------------------------
[tmc2209 stepper_x]
uart_pin: P1.1
#tx_pin:
#select_pins:
interpolate: True
run_current: 0.580
#hold_current: 0.500
sense_resistor: 0.110
stealthchop_threshold: 999999
#uart_address:
#driver_IHOLDDELAY: 8
#driver_TPOWERDOWN: 20
#driver_TBL: 2
#driver_TOFF: 3
#driver_HEND: 0
#driver_HSTRT: 5
#driver_PWM_AUTOGRAD: True
#driver_PWM_AUTOSCALE: True
#driver_PWM_LIM: 12
#driver_PWM_REG: 8
#driver_PWM_FREQ: 1
#driver_PWM_GRAD: 14
#driver_PWM_OFS: 36
driver_SGTHRS: 104 ; 90 - 132
diag_pin: P1.29
##=================================== End ===================================

## Y Axis
[stepper_y]
step_pin: P1.14
dir_pin: !P1.15
enable_pin: !P1.9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
#gear_ratio:
#step_pulse_duration:
endstop_pin: tmc2209_stepper_y:virtual_endstop  ;^P1.28
position_min: -33.5
position_endstop: -33.5
position_max: 219.5 ; 253 + position_min
homing_speed: 40    ; 20
homing_retract_dist: 0
#homing_retract_speed:
#second_homing_speed:20
#homing_positive_dir:
##------------------------------------
[tmc2209 stepper_y]
uart_pin: P1.10
#tx_pin:
#select_pins:
interpolate: True
run_current: 0.580
#hold_current: 0.500
sense_resistor: 0.110
stealthchop_threshold: 999999
#uart_address:
#driver_IHOLDDELAY: 8
#driver_TPOWERDOWN: 20
#driver_TBL: 2
#driver_TOFF: 3
#driver_HEND: 0
#driver_HSTRT: 5
#driver_PWM_AUTOGRAD: True
#driver_PWM_AUTOSCALE: True
#driver_PWM_LIM: 12
#driver_PWM_REG: 8
#driver_PWM_FREQ: 1
#driver_PWM_GRAD: 14
#driver_PWM_OFS: 36
driver_SGTHRS: 103 ; 90 - 129
diag_pin: P1.28
##=================================== End ===================================

## Z Axis
[stepper_z]
step_pin: P4.29
dir_pin: P4.28
enable_pin: !P1.16
rotation_distance: 8
microsteps: 16
full_steps_per_rotation: 200
#gear_ratio:
#step_pulse_duration:
endstop_pin: probe:z_virtual_endstop    ; ^P1.27
position_min: -1
#position_endstop: 0    ; Disable using probe
position_max: 250
homing_speed: 10                         
homing_retract_dist: 2
homing_retract_speed: 4
second_homing_speed: 4
#homing_positive_dir:
##------------------------------------
[tmc2209 stepper_z]
uart_pin: P1.17
#tx_pin:
#select_pins:
interpolate: True
run_current: 0.580
#hold_current: 0.500
sense_resistor: 0.110
stealthchop_threshold: 999999
#uart_address:
#driver_IHOLDDELAY: 8
#driver_TPOWERDOWN: 20
#driver_TBL: 2
#driver_TOFF: 3
#driver_HEND: 0
#driver_HSTRT: 5
#driver_PWM_AUTOGRAD: True
#driver_PWM_AUTOSCALE: True
#driver_PWM_LIM: 12
#driver_PWM_REG: 8
#driver_PWM_FREQ: 1
#driver_PWM_GRAD: 14
#driver_PWM_OFS: 36
#driver_SGTHRS: 0
#diag_pin:
##=================================== End ===================================

## Z1 Axis
[stepper_z1]
step_pin: P2.11
dir_pin: P2.12
enable_pin: !P0.21
rotation_distance: 8
microsteps: 16
full_steps_per_rotation: 200
#gear_ratio:
#step_pulse_duration:
#endstop_pin: probe:z_virtual_endstop   ; ^P1.27
#position_min: -2
#position_endstop: 0    ; Disabled using probe
#position_max: 220
#homing_speed: 10                         
#homing_retract_dist: 3
#homing_retract_speed: 10
#second_homing_speed: 1
#homing_positive_dir:
##------------------------------------
[tmc2209 stepper_z1]
uart_pin: P0.22
#tx_pin:
#select_pins:
interpolate: True
run_current: 0.580
#hold_current: 0.500
sense_resistor: 0.110
stealthchop_threshold: 999999
#uart_address:
#driver_IHOLDDELAY: 8
#driver_TPOWERDOWN: 20
#driver_TBL: 2
#driver_TOFF: 3
#driver_HEND: 0
#driver_HSTRT: 5
#driver_PWM_AUTOGRAD: True
#driver_PWM_AUTOSCALE: True
#driver_PWM_LIM: 12
#driver_PWM_REG: 8
#driver_PWM_FREQ: 1
#driver_PWM_GRAD: 14
#driver_PWM_OFS: 36
#driver_SGTHRS: 0
#diag_pin:
##=================================== End ===================================

##===========================================================================
##========================== Extruder Configuration =========================
##===========================================================================
## Extruder-0
[extruder]
step_pin: P2.6
dir_pin: !P2.7
enable_pin: !P0.4
microsteps: 16
##============================ Use for calibrate ============================
#step_distance: 0.002445 # rotation_distance/(full_step_per_rotation*microsteps)
##===========================================================================
rotation_distance: 7.824 # E3D Hemera default 7.824
full_steps_per_rotation: 200
#gear_ratio: 3:1
nozzle_diameter: 0.400
filament_diameter: 1.750
#max_extrude_cross_section:
#instantaneous_corner_velocity: 1.000
max_extrude_only_distance: 200
#max_extrude_only_velocity:
#max_extrude_only_accel:
pressure_advance: 0
pressure_advance_smooth_time: 0
##------------------------------------
heater_pin: P2.3
max_power: 1.0
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.24
#pullup_resistor: 4700
#smooth_time: 1.0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
#max_delta: 2.0
#pwm_cycle_time: 0.100
min_extrude_temp: 0
min_temp: 0
max_temp: 300
##------------------------------------
[tmc2209 extruder]
uart_pin: P0.5
#tx_pin:
#select_pins:
interpolate: False
run_current: 0.940  # With safety margin: (1.33 * 0.9) / 1.414 = 0.847 w/o: 0.94
#hold_current: 0.500
sense_resistor: 0.110
stealthchop_threshold: 0
#uart_address:
#driver_IHOLDDELAY: 8
#driver_TPOWERDOWN: 20
#driver_TBL: 2
#driver_TOFF: 3
#driver_HEND: 0
#driver_HSTRT: 5
#driver_PWM_AUTOGRAD: True
#driver_PWM_AUTOSCALE: True
#driver_PWM_LIM: 12
#driver_PWM_REG: 8
#driver_PWM_FREQ: 1
#driver_PWM_GRAD: 14
#driver_PWM_OFS: 36
#driver_SGTHRS: 0
#diag_pin:
##=================================== End ===================================

##===========================================================================
##========================= Heated Bed Configuration ========================
##===========================================================================
## Stock Heated Bed
[heater_bed]
heater_pin: P2.5
max_power: 1.0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
#pullup_resistor: 4700
#smooth_time: 1.0
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
#max_delta: 2.0
#pwm_cycle_time: 0.100
#min_extrude_temp: 220
min_temp: 0
max_temp: 110
##=================================== End ===================================

##===========================================================================
##================================= BL-Touch ================================
##===========================================================================
    # Z height probe. One may define this section to enable Z height probing
    # hardware. When this section is enabled, PROBE and QUERY_PROBE extended
    # g-code commands become available. Also, see the probe calibrate guide.
    # The probe section also creates a virtual "probe:z_virtual_endstop" pin.
    # One may set the stepper_z endstop_pin to this virtual pin on cartesian
    # style printers that use the probe in place of a z endstop. If using
    # "probe:z_virtual_endstop" then do not define a position_endstop in the
    # stepper_z config section.
##===========================================================================
[bltouch]   ; Sensor pin use Z end-stop limit switch
sensor_pin: ^P1.27
control_pin: P1.23
pin_move_time: 0.200
stow_on_each_sample: False
probe_with_touch_mode: True
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: True
#set_output_mode:
x_offset: -33.6
y_offset: 1.9
#z_offset: Run 'PROBE_CALIBRATE'
speed: 4
samples: 2
sample_retract_dist: 2
lift_speed: 4
samples_result: average
samples_tolerance: 0.005
samples_tolerance_retries: 3
#activate_gcode:
#deactivate_gcode:
##=================================== End ===================================

##===========================================================================
##=============================== Safe Z Home ===============================
##===========================================================================
    # Safe Z homing. One may use this mechanism to home the Z axis at a 
    # specific X, Y coordinate. This is useful if the toolhead, for example 
    # has to move to the center of the bed before Z can be homed.
##===========================================================================
[safe_z_home] 
home_xy_position: 143.6, 108.1
speed: 500
z_hop: 6
z_hop_speed: 10
move_to_previous: False
##=================================== End ===================================

##===========================================================================
##================================= Bed Mesh ================================
##===========================================================================
    # Mesh Bed Leveling. One may define a bed_mesh config section to enable 
    # move transformations that offset the z axis based on a mesh generated 
    # from probed points. When using a probe to home the z-axis, it is 
    # recommended to define  a safe_z_home section in printer.cfg to home 
    # toward the center of the print area.
    ##============= Illustration ============##
    ## Rectangular bed, probe_count = 3, 3:  ##
    ##              x---x---x (max_point)    ##
    ##              |                        ##
    ##              x---x---x                ##
    ##                      |                ##
    ##  (min_point) x---x---x                ##
    ##=======================================##
##===========================================================================
[bed_mesh]
speed: 500
horizontal_move_z: 5.5
#mesh_radius:
#mesh_origin:
mesh_min: 17.3, 17.3
mesh_max: 202.7, 202.7
probe_count: 5,5
#round_probe_count: 5
fade_start: 1
fade_end: 10
fade_target: 0
#split_delta_z: .025
#move_check_distance: 5.0
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2
#relative_reference_index:
#faulty_region_1_min:
#faulty_region_1_max:
##=================================== End ===================================

##===========================================================================
##================================ Bed Level ================================
##===========================================================================
    # Tool to help adjust bed leveling screws. One may define a [bed_screws]
    # config section to enable a BED_SCREWS_ADJUST g-code command.
##===========================================================================
[bed_screws]
screw1: 25, 195
screw1_name: Rear-Left
#screw1_fine_adjust:
screw2: 25, 25
screw2_name: Front-Left
#screw2_fine_adjust:
screw3: 195, 25
screw3_name: Front-Right
#screw3_fine_adjust:
screw4: 195, 195
screw4_name: Rear-Right
#screw4_fine_adjust:
horizontal_move_z: 5.5
#probe_height: 0
speed: 500
probe_speed: 7
##=================================== End ===================================

## Bed Screws Use Probe
    # Tool to help adjust bed screws tilt using Z probe. One may define a
    # screws_tilt_adjust config section to enable a SCREWS_TILT_CALCULATE
    # g-code command.
##===========================================================================
[screws_tilt_adjust]
screw1: 58.6, 193.1 ; Nozzle coordinate: 25, 195
screw1_name: Rear-Left
screw2: 58.6, 23.1 ; Nozzle coordinate: 25, 25
screw2_name: Front-Left
screw3: 228.6, 23.1 ; Nozzle coordinate: 195, 25
screw3_name: Front-Right
screw4: 228.6, 193.1 ; Nozzle coordinate: 195, 195
screw4_name: Rear-Right
speed: 500
horizontal_move_z: 5.5
screw_thread: CW-M4
##=================================== End ===================================

##===========================================================================
##=============================== Z Auto Align ==============================
##===========================================================================
    # Multiple Z stepper tilt adjustment. This feature enables independent
    # adjustment of multiple z steppers (see the "stepper_z1" section) to
    # adjust for tilt. If this section is present then a Z_TILT_ADJUST
    # extended G-Code command becomes available.
##===========================================================================
[z_tilt]
z_positions:    -33.6, 23.1  #210
                253.6, 23.1  #210
points: 58.6, 23.1
        228.6, 23.1
speed: 500
horizontal_move_z: 5.5
retries: 20
retry_tolerance: 0.005
##=================================== End ===================================

##===========================================================================
##=============================== Cooling Fans ==============================
##===========================================================================
[fan]
pin: P2.1
#max_power: 1.0
#shutdown_speed: 0
#cycle_time: 0.010
#hardware_pwm: False
#kick_start_time: 0.100
#off_below: 0.0
#tachometer_pin:
#tachometer_ppr: 2
#tachometer_poll_interval: 0.0015
##=================================== End ===================================

##===========================================================================
##========================== Auto-Fan Configuration =========================
##===========================================================================
## Hot End Fan
[heater_fan hotend_fan]
pin: P2.2
max_power: 1.0
#shutdown_speed:
#cycle_time:
hardware_pwm: True
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
heater: extruder
heater_temp: 40.0
fan_speed: 1.0
##=================================== End ===================================

## Mainboard Fan
#[heater_fan mainboard_fan]
#pin:
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm: True
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#heater:
#heater_temp:
#fan_speed:
##=================================== End ===================================

## Chamber Fan
#[heater_fan chamber_fan]
#pin:
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#heater:
#heater_temp:
#fan_speed:
##=================================== End ===================================

##===========================================================================
##======================= Input Shaping Configuration =======================
##===========================================================================
    # input shaping / resonance compensation
    # https://github.com/KevinOConnor/klipper/blob/master/docs/Resonance_Compensation.md
    # V * N / D | (Printing speed * oscillations / measured_distance)
##===========================================================================
[input_shaper]
shaper_freq_x: 0
shaper_type_x: mzv
shaper_freq_y: 0
shaper_type_y: ei
##=================================== End ===================================

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 3.55