##===========================================================================
##============================ Fan Configuration ============================
##===========================================================================
##================================ Hotend Fan ===============================
[heater_fan HE0]
pin: canbus:PA0
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.01
hardware_pwm: False
kick_start_time: 0.5
heater: extruder
heater_temp: 40
fan_speed: 1.0

##============================= Part Cooling Fan ============================
[fan]
pin: canbus:PA1
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.01
kick_start_time: 0.5
off_below: 0.1

##================================= Exhaust ================================
[fan_generic Exhaust]
pin: PD12
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.01
hardware_pwm: False
kick_start_time: 0.1
off_below: 0.0

#[temperature_fan Exhaust]
#pin: PD12
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 0.1
#cycle_time:0.01
#off_below:0.1
#sensor_type: Generic 3950
#sensor_pin: PF5
#min_temp: 0
#max_temp: 100
#target_temp: 72
#max_speed: 1.0
#min_speed: 0
#control: pid
#pid_Kp: 40
#pid_Ki: 0.2
#pid_Kd: 0.1
#pid_deriv_time: 2.0
#gcode_id: C

##============================= Electronics MCU ============================
[fan_generic MCU]
pin: PD14
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.01
hardware_pwm: False
kick_start_time: 0.1
off_below: 0.0

#[temperature_fan MCU]
#pin: PD14
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 0.1
#off_below: 0.1
#sensor_type: temperature_mcu
#min_temp: 0
#max_temp: 80
#target_temp: 40
#max_speed: 1.0
#min_speed: 0
#control: pid
#pid_Kp: 40
#pid_Ki: 0.2
#pid_Kd: 0.1
#pid_deriv_time: 2.0
#gcode_id: MCU

[delayed_gcode FANMCU]
initial_duration: 1
gcode:
    SET_FAN_SPEED FAN=MCU SPEED=0.6

##============================= Electronics PSU ============================
[controller_fan PSU]
pin: PD15
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.1
off_below: 0.1
idle_timeout: 300
heater: heater_bed
fan_speed: 0.6

##================================= Blower =================================
[fan_generic Blower]
pin: PD13
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.01
hardware_pwm: False
kick_start_time: 0.1
off_below: 0.0
##---------------------------------------------------------------------------
[gcode_macro BLOWER_SLOW]
gcode:
	{% set slow = printer["gcode_macro _BLOWER_VARIABLES"].slow|float %}

	SET_FAN_SPEED FAN=Blower SPEED={slow}

[gcode_macro BLOWER_FAST]
gcode:
	{% set fast = printer["gcode_macro _BLOWER_VARIABLES"].fast|float %}

	SET_FAN_SPEED FAN=Blower SPEED={fast}

[gcode_macro BLOWER_OFF]
gcode:
	SET_FAN_SPEED FAN=Blower SPEED=0

[delayed_gcode blowerloop]
gcode:
	{% set threshold = printer["gcode_macro _BLOWER_VARIABLES"].threshold|int %}

	{% if printer.heater_bed.target >= threshold %}
		{% if printer.heater_bed.temperature|int >= (printer.heater_bed.target|int - 1) %}
			BLOWER_FAST

		{% else %}
			UPDATE_DELAYED_GCODE ID=blowerloop DURATION=5
		{% endif %}
	{% endif %}

##=================================== M107 ===================================
[gcode_macro M107]
rename_existing: M99107
gcode:
	M99107
	SET_FAN_SPEED FAN=Exhaust SPEED=0
##=================================== End ===================================